.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-lg);
  background-color: var(--background-color);
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  margin-bottom: var(--spacing-xl);
  border: var(--border-width-lg) solid var(--secondary-color);
  box-shadow: 20px 16px 0px 0px var(--shadow-color);
  transition: all var(--transition-normal);
}

.bio-container:hover {
  transform: translateY(-18px);
  border-color: var(--primary-color);
  transform: translateY(-5px);
  box-shadow: var(--box-shadow-hover);
}

.bio-header {
  text-align: center;
  margin-bottom: var(--spacing-lg);
}

.bio-content {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}

.bio-image {
  flex: 0 0 300px;
  padding: var(--spacing-md);
  justify-content: top;
  display: flex;
  justify-content: center;


}

.profile-image {
  width: 100%;
  justify-content: center;
  border: var(--border-width-lg) solid var(--secondary-color);
  max-width: 300px;
  border-radius: 50%; /* Changed to 50% for a circular image */
  box-shadow: var(--box-shadow);
  transition: transform var(--transition-normal), box-shadow var(--transition-normal);
  object-fit: cover; /* Ensure the image covers the area properly */
}

.profile-image:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow-hover);
}

.bio-text {
  flex: 1;
  text-align: left;
}

.bio-text ul {
  list-style-type: none;
  padding-left: 0;
}

.bio-text li {
  margin-bottom: var(--spacing-sm);
}

.resume-section {
  margin-top: var(--spacing-lg);
  text-align: center;
}

/* Responsive design */
@media (max-width: 768px) {
  .bio-content {
    flex-direction: column;
    align-items: center;
  }
  
  .bio-image {
    flex: 0 0 auto;
    margin-bottom: var(--spacing-lg);
  }
  
  .bio-text {
    width: 100%;
  }
} 